<div>
  <h2>Includes the following:</h2>
  <ul>
  <li>Which office? List of fixed options (:new zealand, :GPI, :UK), field = integer</li>
  <li>Unique Position? If not, (so if value 2 for example), render new field to assign number of vacancies within position (make open option integer)</li>
  </ul>
</div>
