<h1>Index Nav</h1><br />


<div class="span2">
  <frameset>
    <%= link_to image_tag("dictionary.jpg"), positions_dictionary_path %>
    <h4>Competencies</h4>
  </fameset>
</div>

<div class="span2">
  <frameset>
    <%= link_to image_tag("wiki.png"), wikis_path %>
    <h4>Wiki</h4>
  </fameset>
</div>

<div class="span2">
  <p>Some ideas:</p>
  <ul>
    <li>Salary analysis</li>
    <li>General KPIs</li>
    <li>Report generator & Statistics</li>
  </ul>
</div>
