<div class="span2">
  <frameset>
    <%= link_to image_tag("competencies.jpg"), competencies_position_path %>
    <h4>Competencies</h4>
  </fameset>
</div>

<div class="span2">
  <frameset>
    <%= link_to image_tag("personal_profile.jpg"), personalprofile_position_path %>
    <h4>Personal Profile</h4>
  </frameset>
</div>
