<div class="span1">

</div>

<div class="span10">
  <h4>Employee information (for <%= @position.job_title %>)</h4>
  <hr />
  <%= link_to image_tag('homepage_button.png'), office_path, :class => 'homepage_button' %>
  <%= link_to 'Back', personalprofile_position_path, :class => "btn btn-action", :id => "edit_button" %>
  <%= render "form_personal_profile" %>

</div>

<div class="span1">

</div>
