<div class="span1">

</div>

<div class="span10">
  <h2>Identify competencies</h2>

  <%= link_to image_tag('homepage_button.png'), office_path, :class => 'homepage_button' %>
  <%= link_to 'Back', competencies_position_path, :class => "btn btn-action", :id => "edit_button" %>
  <%= render "form_competencies" %>

</div>

<div class="span1">

</div>
