<body class="pizza2">

<p class="logotextindex"><%= link_to image_tag("bluerobintext.png", :border=>4) %></p>

  <div id="myCarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="span1">
        <a class="carousel-control left" id="carouselleft" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <br />
      </div>
        <div class="span10">
          <div class="active item">
            <%= render "index_positions" %>
          </div>
          <div class="item">
            <%= render "index_personal_profile" %>
          </div>
        </div>
        <div class="span1">
        <a class="carousel-control right" id="carouselright" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>

</body>
