<body class="pizza">
<h1>Listing positions</h1>

<% @positions.each do |position| %>
  
    <li><%= link_to position.job_title, position %><br />
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, confirm: 'Are you sure?', method: :delete %></li>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Position', new_position_path %>

</body>
