<div class="span2">
  <frameset>
    <%= link_to image_tag("dictionary.jpg"), positions_dictionary_path %>
    <h4>Dictionary</h4>
  </fameset>
</div>

<div class="span2">
  <frameset>
    <%= link_to image_tag("wiki.png"), wikis_path %>
    <h4>Wiki</h4>
  </fameset>
</div>
