// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments {
  font-size: 12px;
  background-color: #4B7399;
  padding: 0 20px;
  width: 775px;
  border: solid 1px #333;
}

.comment {
  border-bottom: solid 1px #999;
  margin: 15px 0;
  color:#000;
}

.comment .author_name {
  font-weight: bold;
}

.comment:last-child {
  border-bottom: none;
}

#join_project_button {
  position:fixed;
  top:91px;
  right:255px;
}

#back_button {
  position:fixed;
  top:90px;
  right:255px;
}

#edit_project_button {
  position:fixed;
  top:90px;
  right:330px;
}

#update_button {
  position:fixed;
  top:92px;
  right:325px;
}

#milestones {
  font-size: 12px;
  background-color: #CC9933;
  padding: 0 20px;
  width: 775px;
  border: solid 1px #333;
}

.milestone {
  border-bottom: solid 1px #999;
  margin: 15px 0;
  color:#000;
}
